.messenger {
  background-color: white;
  padding: 3vh 5vh;
  border-radius: 5vh;
  margin: 5vh;
  @media (max-width: 500px) {
    margin: 2vh 0;
  }
}

.message-viewer {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow: scroll;
  background-color: #2eb3bc;
}

.message {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  max-width: 80%;
  position: relative;
  align-self: flex-start;
  background-color: #fffdf2;
  .message-text {
    margin: 0;
  }
  .delete-message-icon {
    position: absolute;
    right: 1px;
    top: 0;
    font-size: 1.5em;
    color: rgba(0,0,0,0.3);
  }
}

.message-from-user {
  background-color: #ffe13d;
  color: black;
  align-self: flex-end;
}

.text-area {
  margin-left: 4%;
  margin-top: 2%;
  width: 70%;
  display: inline-block;
}

.message-send {
  display: inline-block;
  width: 20%;
  height: 55px;
  position: relative;
  left: 10px;
  bottom: 22px;
}
