// @import 'bootstrap-sass-3.3.7/assets/stylesheets/_bootstrap';
@import 'messages';

.navbar {
  margin-bottom: 0;
}

.form {
  background-color: white;
  padding: 50px 20px;
  border-radius: 20px;
  border: 1px solid lightGrey;
}

.google-map {
  height: 80vh;
  width: 90%;
  margin: 5vh;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

div.drag-drop {
  input[type=file] {
    display: none;
  }

  div.dropzone {
    margin: 10px auto;
    height: 100px;
    width: 200px;
    background-color: #fafafa;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.error-text {
  position: relative;
  top: -15px;
  color: #DD0000;
}

.error-window {
  color: #DD0000;
  position: absolute;
  margin-top: 10px;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 6px;
  border-radius: 3px;
  font-size: 1.1em;
}

.flashMessage {
  color: green;
  width: 90%;
  margin: 5px 5%;
}

//  #022241 #154a6b #000000
